form.actualizar-producto {
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px auto;
    box-sizing: border-box;
}

form.actualizar-producto label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

form.actualizar-producto input[type="text"],
form.actualizar-producto input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

form.actualizar-producto button {
    background-color: #12c4fa;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

form.actualizar-producto button:hover {
    background-color: #0b93d4;
}

form.actualizar-producto .error {
    display: block;
    margin-top: 10px;
    color: red;
    font-size: 14px;
    text-align: center;
}
