@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #12c4fa;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.navbar {
    background-color: #95f6ff;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.cart-icon {
    position: absolute;
    top: 20px;
    left: 80px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.error {
    color: red;
}

.house-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.usuario {
    position: absolute;
    top: 0px;
    right: 55px;
}

.salida {
    position: absolute;
    top: 28px;
    right: 20px;
}